@model CarSelling.Models.CarDetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.BrandName @Model.Model - Details</title>
    <link rel="stylesheet" href="~/css/carDetails.css" />
</head>
<body>
    <div class="container">
        <div class="car-img">
            <img src="@Model.ImgUrl" alt="@Model.BrandName @Model.Model">
        </div>
        <div class="car-info">
            <div class="car-title">
                <b><u>@Model.BrandName @Model.Model</u></b>
            </div>
            <div class="car-details">
                <p><strong>Mileage:</strong> @Model.Mileage miles</p>
                <p>
                    <strong>Price:</strong>
                    @if (Model.Price != null)
                    {
                        @Model.Price.Value.ToString("N2")
                    }
                    else
                    {
                        <span>There is no price for this car</span>
                    }
                </p>
                <p><strong>Year:</strong> @Model.CarCreationDate.Year</p>
                <p><strong>Offer Created At:</strong> @Model.CreatedAt.ToShortDateString()</p>
                <p>
                    <strong>Description:</strong>
                    @if (Model.Description != null)
                    {
                        @Model.Description
                    }
                    else
                    {
                        <span>There is no description for this car</span>
                    }
                </p>

                <form id="checkout-form" method="post" asp-action="BuyNow" asp-controller="Car" asp-route-carId="@Model.Id">
                    <button class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
