@model CarSelling.Models.CarDetailsViewModel

@{
    ViewData["Title"] = $"{Model.BrandName} {Model.Model}";
}

<link rel="stylesheet" href="~/css/carDetails.css" />

<!DOCTYPE html>
<html>
<head>
    <title>@Model.BrandName @Model.Model - Details</title>

    <script src="https://www.paypal.com/sdk/js?client-id=AQXAs_4tPzYNa_BzfYRslXrXxiinQ-hbohpw8giRwpP7-7t2IwbNrzgF_3qa2lZGGpUc22K5yPmdPY59&currency=EUR"></script>
</head>
<body>
    <div class="container">
        <div class="car-img">
            <img src="@Model.ImgUrl" alt="@Model.BrandName @Model.Model">
        </div>
        <div class="car-info">
            <div class="car-title">
                <b>@Model.BrandName @Model.Model</b>
            </div>
            <div class="car-details">
                <p><strong>Пробег [км]:</strong> @Model.Mileage miles</p>
                <p>
                    <strong>Цена:</strong>
                    @if (Model.Price != null)
                    {
                        <span>@Model.Price.Value.ToString("F2") €</span>
                    }
                    else
                    {
                        <span>Няма обявена цена за тази кола</span>
                    }
                </p>
                <p><strong>Година на Производство:</strong> @Model.CarCreationDate.Year</p>
                <p><strong>Офертата е създадена на:</strong> @Model.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")</p>
                <p>
                    <strong>Описание:</strong>
                    @if (Model.Description != null)
                    {
                        @Model.Description
                    }
                    else
                    {
                        <span>Няма описание за тази кола</span>
                    }
                </p>
                <p><strong>Двигател:</strong> @Model.EngineType</p>
                <p><strong>Намира се в:</strong> @Model.Location</p>
                <p>
                    <strong>Функции за безопасност:</strong>
                    @if (Model.SafetyFeatures != null)
                    {
                        @Model.SafetyFeatures
                    }
                    else
                    {
                        <span>Няма обявени функции за безопасност</span>
                    }
                </p>
                <p>
                    <strong>Функции за комфорт:</strong>
                    @if (Model.ComfortFeatures != null)
                    {
                        @Model.ComfortFeatures
                    }
                    else
                    {
                        <span>Няма обявени функции за комфорт</span>
                    }
                </p>
                <p><strong>Цвят:</strong> @Model.Color</p>
                <p><strong>Брой врати:</strong> @Model.NumberOfDoors</p>
                <form id="checkout-form" method="post" asp-action="BuyNow" asp-controller="Car" asp-route-carId="@Model.Id">
                    <div style="display: flex; justify-content: center; width: 100%;">
                        <div id="paypal-button-container"></div>
                    </div>
                </form>
                <div id="message-container" class=""></div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paypal.Buttons({
                style: {
                    color: 'gold',
                    shape: 'rect',
                    label: 'paypal',
                    layout: 'vertical',
                    tagline: false
                },
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                currency_code: 'EUR',
                                value: '@Model.Price'
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        displayMessage('Транзакцията е завършена от ' + details.payer.name.given_name, 'success');
                    });
                },
                onError: function (err) {
                    console.error('Грешка по време на транзакцията:', err);
                    displayMessage('Възникна проблем с PayPal транзакцията. Моля, опитайте отново.', 'error');
                }
            }).render('#paypal-button-container');
        });
    </script>
</body>
</html>
